* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', 'Poppins', 'Roboto', sans-serif;
}


.container-login {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    background: #ffffff;
}

.img-box{
    width: 50%;
    height: 100%;
    display: flex;
}

.img-box img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.header-form {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 4vh;   
    color: #40497a; 
}

.content-box .form-box {
    width: 40%;
}

.content-box .form-box .login-form-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-box .form-box .login-form-footer a {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 7px;
    cursor: pointer;
    transition: 0.3s;
}

.footer-separator {
    display: flex; margin-bottom: 1em;
}

.footer-separator:before, .footer-separator:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid #bcc0c9 ;
    margin: auto;
}

.footer-separator:before {
    margin-right: 16px; 
}

.footer-separator:after {
    margin-left: 16px;
}

.content-box .form-box .login-form-footer a:hover {
    background: #eff0f7;
}

.form-box .login-form-footer a img {
    width: 40px;
}

.title-form {
    color: #171038c4;
}

.title-form h2 {
    font-weight: 600;
    font-size: 2em;
}

.title-form .sub-title {
    font-size: 1.3em ;
    margin-bottom: 30px;
}

.content-box .form-box .input-item{
    position: relative; 
    margin-bottom: 20px;    
}

.content-box .form-box .input-item input{
    width: 100%;
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
    border: 2px solid #e6e7ee;
    outline-color: #5b6fe2;
    font-size: 17px;
}

.content-box .form-box .input-item input:hover {
   border: 2px solid #c6c8d6;
   background-color: #f3f5fc;
}

.content-box .form-box .input-item span{
    font-size: 20px;
    font-weight: 400;
}

.content-box .form-box .input-item input::placeholder {
    font-weight: 600;
    font-size: 16px;
}

.input-item input[type="text"],
.input-item input[type="password"],
.input-item input[type="email"]{
    background-color: #f9fafd;
}

.remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 15px;
}

.remember a {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
}

input[type="checkbox"] {
    display: none;
}
  
.remember-checkbox {
    display: inline-flex;
    position: relative;
    padding-left: 20px;
    align-items: center;
    margin-bottom: 5px;
    cursor: pointer;   
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #f9fafd;
    border-radius: 3px;
    border: 2px solid #8596fa;
}
  
.remember-checkbox:hover input ~ .checkmark {
    background-color: #e8ecfd;
}

.remember-checkbox input:checked ~ .checkmark {
    background-color: #8596fa;
    border-radius: 3px;
}

.remember-checkbox input:checked ~ .checkmark:hover {
    background-color : #6a80ff;
    border: 2px solid #6a80ff;
}

.remember-checkbox .checkmark:after {
    content: "";
    background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 10 10'%3E%3Cg class='nc-icon-wrapper' stroke-width='1' fill='%23555555'%3E%3Cpath fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' data-cap='butt' d='M2.83 4.72l1.58 1.58 2.83-2.83'/%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    border: none;
    margin-top: 1px;
    position: absolute;
    display: none;
    width: 10px;
    height: 10px;
}

.remember-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.remember a:hover {
    color: #5b6fe2;
}

.content-box .form-box .input-item input[type="submit"] {
    background-color: #5b6fe2;
    color: #eef4ff;
    cursor: pointer;
    outline: none;
    border: none;
    font-weight: 500;
    font-size: 20px;
    transition: 0.3s;
}

.content-box .form-box .input-item input[type="submit"]:hover {
    background-color: #445ed1;
}

.input-item-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
}

.input-item-signup a {
    text-decoration: none;
}

.input-item-signup a:hover {
    color: #3e57c7;
}

/*responsividade*/

@media (max-width:1350px) {
    .container-login .content-box {
        padding: 15px !important;
        width: 100%;
    }
    
    .container-login .content-box .form-box {
        width: 100%;
        padding: 15px;
    }

    .footer-separator .remember .input-item-signup {
        flex-direction: column; 
        gap: 10px;
    }
}

@media (max-width:768px) {
    body {
        padding: 10px;
    }

    .container-login {
        grid-template-columns: auto;
    }

    .img-box {
        display: none;

    }
}

